@model KoruCosmetica.Models.ViewModel.TurnosHorarios

@{
    ViewData["Title"] = "Sacar Turno";
    var horariosDisponibles = ViewBag.HorariosDisponibles as List<TimeOnly>;
}

<body>
    <div id="form">
        <h1 class="text-center my-4">Sacar Turno</h1>
        <h4 class="text-center">Rellene el siguiente formulario</h4>
        <hr />
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form asp-action="SacarTurno">
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

                    <div class="form-group">
                        <input asp-for="Turnos.Fecha" class="form-control" type="date" placeholder="Seleccione la fecha" id="fecha" min="@DateTime.Now.ToString("yyyy-MM-dd")" />
                        <span asp-validation-for="Turnos.Fecha" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <select id="hora" name="Turnos.Hora" class="form-control">
                            @if (horariosDisponibles != null && horariosDisponibles.Any())
                            {
                                foreach (var hora in horariosDisponibles)
                                {
                                    <option value="@hora.ToString(@"hh\:mm")">@hora.ToShortTimeString()</option>
                                }
                            }
                            else
                            {
                                <option value="">No hay horarios disponibles</option>
                            }
                        </select>
                        <span asp-validation-for="Turnos.Hora" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <select asp-for="Turnos.ServicioID" class="form-control" asp-items="ViewBag.ServicioID">
                            <option value="" disabled selected>Elija Tratamiento</option>
                        </select>
                        <span asp-validation-for="Turnos.ServicioID" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <select asp-for="Turnos.ProfesionalID" class="form-control" asp-items="ViewBag.ProfesionalID">
                            <option value="" disabled selected>Elija Profesional</option>
                        </select>
                        <span asp-validation-for="Turnos.ProfesionalID" class="text-danger"></span>
                    </div>

                    <div class="form-group text-center">
                        <input type="submit" value="Sacar" class="btn btn-primary btn-block" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>


<script>
    document.getElementById('fecha').addEventListener('change', function () {
        var fecha = this.value;
        if (fecha) {
            fetch('/TurnosHorarios/ObtenerHorariosDisponibles?fecha=' + encodeURIComponent(fecha))
                .then(response => response.json())
                .then(data => {
                    var horaSelect = document.getElementById('hora');
                    horaSelect.innerHTML = ''; // Limpiar las opciones existentes
                    if (data.length > 0) {
                        data.forEach(hora => {
                            var option = document.createElement('option');
                            option.value = hora;
                            option.text = hora;
                            horaSelect.add(option);
                        });
                    } else {
                        var option = document.createElement('option');
                        option.value = '';
                        option.text = 'No hay horarios disponibles';
                        horaSelect.add(option);
                    }
                });
        }
    });
</script>
