@model KoruCosmetica.Models.ViewModel.TurnosHorarios

@{
    ViewData["Title"] = "Create";
}

<h1>Sacar Turno: Paso 2 de 2</h1>

<h4>Rellene el siguiente formulario:</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Turnos.Fecha" class="form-control" type="date" placeholder="" />
                <span asp-validation-for="Turnos.Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HorariosDisponibles.HoraInicio" class="control-label"></label>
                <select asp-for="HorariosDisponibles.HoraInicio" class="form-control" asp-items="ViewBag.HorarioDisponible">
                    <option value="" disabled selected>Elija Horario</option>
                </select>
                <span asp-validation-for="HorariosDisponibles.HoraInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="Turnos.ServicioID" class="form-control" asp-items="ViewBag.ServicioID">
                    <option value="" disabled selected>Elija Tratamiento</option>
                </select>
            </div>
            <div class="form-group">
                <select asp-for="Turnos.ProfesionalID" class="form-control" asp-items="ViewBag.ProfesionalID">
                    <option value="" disabled selected>Elija Su Profesional</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
