@{
    ViewData["Title"] = "Mensaje Enviado";
}

<div class="text-center mt-5">
    <h1>Se ha enviado un correo de recuperación</h1>
    <p>Revisa tu correo electrónico para instrucciones sobre cómo restablecer tu contraseña.</p>
    <a asp-controller="Clientes" asp-action="Login" class="btn btn-primary">Volver a Iniciar Sesión</a>
</div>
